body {
    background-color: darkgray;
}

.cards {
    margin-top: 5%;
    justify-content: center;
    margin-inline: 30px;
    display: row;
}

.img {
    width: 200px;
    display: block;
    margin: auto;
}

.card {
    width: 300px;
    border: 1px black;
}

button {
    border-style: none;
    background-color: white;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #212529;
    transform: none;
    border: none;
    text-decoration: none;
}