body {
    background-color: #3B4043 !important;
}

nav {
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.cards {
    margin-top: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin:auto;


    /*        justify-content: center;
            display: row;*/
}

.h-100{
border-radius: 13px;
background: #3B4043;
box-shadow:  20px 20px 40px #2c2f32,
             -20px -20px 40px #4a5154;
}

.img {
    width: 50%;
    display: block;
    margin: auto;
}

.card {
    width: 260px;
    border: 1px black;
    padding-top: 15%;
    /*       background-color: #313638; ,color en modo oscuro de las tarjetas, hay que ver bien donde va esto porque no lo toma xd
           color: #313638;*/
}

button {
    border-style: none;
    background-color: #212529;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #212529;
    transform: none;
    border: none;
    text-decoration: none;
}

.form {
    padding: 5px;
    margin-right: 25%;
}

.d-grid {
    text-align: right;
}