body {
    background-color: #3B4043 !important;
}

nav {
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.cards {
    margin-top: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin:auto;
    
   
    /*        justify-content: center;
            display: row;*/
}

.h-100 {
    border-radius: 13px;
    background: linear-gradient(145deg, #ece9e9, #f0f0f0);
    box-shadow: 15px 15px 55px #747474, -15px -15px 55px #ffffff;
    margin-bottom: 0;
 
}

.img {
    width: 50%;
    display: block;
    margin: auto;
}

.card {
    width: 260px;
    border: 1px black;
    padding-top: 15%;
/*       background-color: #313638; ,color en modo oscuro de las tarjetas, hay que ver bien donde va esto porque no lo toma xd
       color: #313638;*/
}

button {
    border-style: none;
    background-color: white;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #212529;
    transform: none;
    border: none;
    text-decoration: none;
}

.form {
    padding: 5px;
    margin-right: 25%;
}

.d-grid {
    text-align: right;
}