/JDBC/Tienda/nbproject/private/
/JDBC/Tienda/build/
/JDBC/Estancia/nbproject/private/
/JDBC/Estancia/build/
/JDBC/JPA/nbproject/private/
/JDBC/JPA/build/
/JPA/LibreriaExtra/nbproject/private/
/JPA/JPA/nbproject/private/
/JPA/LibreriaExtra/build/