<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Libros</title>
</head>

<body>

    <!-- Inyeccion HTML-->
    <div th:include="fragment :: nav"></div>
    <div th:include="fragment :: modals"></div>
    <div th:include="fragment :: mensajes"></div>
    <!-- end Inyeccion HTML -->
    <br>

    <div class="container">
        <h2>Editoriales</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Editorial</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="editorial, i : ${editoriales}">
                    <td th:text="${editorial.nombre}"></td>
                    <td>
                        <a class="btn btn-secondary" th:href="@{/editorial/editarEditorial/} + ${editorial.id}">Editar
                            Datos</a>

                        <!-- Button trigger modal Eliminar Editorial-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#eliminarEditorial' + i.index}">Eliminar</button>
                        <!-- Modal Eliminar Editorial-->
                        <div class="modal fade" th:id="${'eliminarEditorial' + i.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Eliminar Editorial</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro desea eliminar esta editorial?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-primary" th:href="@{/editorial/eliminarEditorial/} + ${editorial.id}">Eliminar Editorial</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal Eliminar Editorial-->

                        <!-- Button trigger modal BajaEditorial-->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="${'#bajaEditorial'+i.index}">Baja</button>
                        <!-- Modal BajaEditorial-->
                        <div class="modal fade" th:id="${'bajaEditorial'+i.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Baja Editorial</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro desea dar de baja a esta editorial?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-primary" th:href="@{/editorial/bajaEditorial/} + ${editorial.id}">Aceptar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal BajaEditorial-->

                        <!-- Button trigger modal AltaEditorial-->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#altaEditorial">
                            Alta
                        </button>
                        <!-- Modal AltaEditorial-->
                        <div class="modal fade" id="altaEditorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Alta Editorial</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro desea dar de alta a esta editorial?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn  btn-primary" th:href="@{/editorial/altaEditorial/} + ${editorial.id}">Aceptar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal AltaEditorial-->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button_bottom">
            <button type="button" class="btn btn-light btn-l"><a th:href="@{/}">Volver</a></button>
        </div>
        <br />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>