<!DOCTYPE html>
<html lang="en">

<head>
    <div th:include="fragment :: header"></div>
    <title>Index</title>
</head>

<body>

    <!-- Inyeccion HTML-->
    <div class="bg-dark" th:include="fragment :: nav"></div>
    <div th:include="fragment :: modals"></div>
    <div th:include="fragment :: mensajes"></div>
    <!-- end Inyeccion HTML -->
    <br>
    <br>
    <br>
    
    <h3 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></h3>
<!--    <p th:if="${session.usuariosession = null}" >No estas logueado</p>-->
    <!-- cards -->
    <div class="row row-cols-1 row-cols-md-5 g-4 cards">
        <!-- card Prestamo -->
        <div class="col">
            <div class="card h-100 bg-dark ">
                <img th:src="@{/img/transaction.png}" class="card-img-top img bg-dark" alt="...">
                <!-- th:src="@{/images/test.png}" ese sería un ejemplp -->
                <div class="card-body">
                    <h5 class="card-title text-white">Prestamo</h5>
                    <ul class="list-group">
                        <!-- Button trigger modal Crear Prestamo -->
                        <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#agregarPrestamo">Crear Prestamo</li>
                        <!-- Button trigger moda Devolucion Libro -->
                        <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#devolucionLibro">Devolución Libro</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end card Prestamo -->

        <!-- card Libro -->
        <div class="col">
            <div class="card h-100 bg-dark">
                <img th:src="@{/img/bookshelf.png}" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Libro</h5>
                    <li class="list-group-item bg-dark text-white">
                        <a class="text-white" th:href="@{/libro/listarLibros}">Listar Libros</a>
                    </li>
                    <!-- Button trigger modal agregar libro -->
                    <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#agregarLibro">Agregar Libro</li>
                </div>
            </div>
        </div>
        <!-- end card Libro -->

        <!-- card Autor -->
        <div class="col ">
            <div class="card h-100 bg-dark">
                <img th:src="@{/img/editor.png}" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Autor</h5>
                    <li class="list-group-item bg-dark text-white">
                        <a class="text-white" th:href="@{/autor/listarAutores}">Listar Autores</a>
                    </li>
                    <!-- Button trigger modal agregar autor -->
                    <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#agregarAutor">Agregar Autor</li>
                </div>
            </div>
        </div>
        <!--end card Autor -->

        <!-- card Editorial -->
        <div class="col">
            <div class="card h-100 bg-dark">
                <img th:src="@{/img/edificio.png}" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Editorial</h5>
                    <li class="list-group-item bg-dark text-white">
                        <a class="text-white" th:href="@{/editorial/listarEditoriales}">Listar Editoriales</a>
                    </li>
                    <!-- Button trigger modal Agregar Editorial -->
                    <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#agregarEditorial">
                        Agregar Editorial</li>
                </div>
            </div>
        </div>
        <!--end card Editorial -->

        <!-- card Cliente -->
        <div class="col" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <div class="card h-100 bg-dark">
                <img th:src="@{/img/clasificacion.png}" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <li class="list-group-item bg-dark text-white">
                        <a class="text-white" th:href="@{/cliente/listarClientes}">Listar Clientes</a>
                    </li>
                    <!-- Button trigger modal Agregar Cliente -->
                    <li class="list-group-item bg-dark text-white" type="button" data-bs-toggle="modal" data-bs-target="#agregarCliente">Agregar Cliente</li>
                </div>
            </div>
        </div>
        <!-- end card Cliente -->
    </div>
    <!-- end cards -->
    <div th:include="fragment :: modals"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>