<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Libros</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Libreria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="prestamoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prestamo</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Button trigger modal Crear Prestamo -->
                            <li type="button" data-bs-toggle="modal" data-bs-target="#agregarPrestamo" class="dropdown-item">Crear Prestamo</li>
                            <!-- Modal -->
                            <div class="modal fade" id="agregarPrestamo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Crear Prestamo</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            insert code para agregar un prestamo, se deben listar clientes o buscarlo por nroCli y los libros activos
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li type="button" data-bs-toggle="modal" data-bs-target="#devolucionLibro" class="dropdown-item">Devolución Libro</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="libroDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Libro</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="libro.html">Listar Libros</a></li>
                            <li type="button" data-bs-toggle="modal" data-bs-target="#agregarLibro" class="dropdown-item">Agregar Libros</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="autorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Autor</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="autor.html">Listar Autores</a></li>
                            <li type="button" data-bs-toggle="modal" data-bs-target="#agregarAutor" class="dropdown-item">Agregar Autor</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="editorialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Editorial</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="editorial.html">Listar Editoriales</a></li>
                            <li type="button" data-bs-toggle="modal" data-bs-target="#agregarEditorial" class="dropdown-item">Agregar Editorial</li>
                            <!-- Modal -->
                            <div class="modal fade" id="agregarEditorial" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Agregar Editorial</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form" action="/agregarEditorial" method="POST">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="nombreEditorial">Nombre
                                                        Editorial</span>
                                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nombre">
                                                </div>
                                                <div class="alert alert-success" role="alert" th:if="${exito != null}" th:text="${exito}"></div>
                                                <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-light" type="reset">Limpiar</button>
                                            <button type="button" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clienteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="cliente.html">Listar Clientes</a></li>
                            <li type="button" data-bs-toggle="modal" data-bs-target="#agregarCliente" class="dropdown-item">Agregar Cliente</li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar Libro..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <div class="tableLibro">
        <br><br>
    </div>
    <form th:action="@{/listadoLibros}">
        <input name="query" />
        <button>Buscar</button>
    </form>
    <div class="alert alert-success" role="alert" th:if="${exito != null}" th:text="${exito}"></div>
    <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
    <div class="d-grid gap-2 d-md-block"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año</th>
                <th>Ejemplares</th>
                <th>Ejemplares Prestados</th>
                <th>Ejemplares Restantes</th>
                <th>Fecha Alta</th>
                <th>Fecha Baja</th>
                <th>Activo</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="libro : ${libros}">
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.anio}"></td>
                <td th:text="${libro.ejemplares}"></td>
                <td th:text="${libro.ejemplaresPrestados}"></td>
                <td th:text="${libro.ejemplaresRestantes}"></td>
                <td th:text="${libro.fechaAltaLibro}"></td>
                <td th:text="${libro.fechaBajaLibro}"></td>
                <td th:text="${libro.activo ? 'Si' : 'No'}"></td>
                <td th:text="${libro.autor.nombre}"></td>
                <td th:text="${libro.editorial.nombre}"></td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-secondary" th:href="@{/editarLibro/} + ${libro.id}">Editar Datos</a>
                        <a class="btn btn-danger" th:href="@{/eliminarLibro/} + ${libro.id}">Eliminar Libro</a>
                        <a class="btn btn-warning" th:href="@{/bajaLibro/} + ${libro.id}">Baja Libro</a>
                        <a class="btn btn-warning" th:href="@{/altaLibro/} + ${libro.id}">Alta Libro</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button_bottom">
        <button type="button" class="btn btn-secondary btn-l"><a th:href="@{/}">Volver</a></button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>