<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Spring MVC libreria</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-light bg-light ">
            <div class="container-fluid justify-content-center">
                <span class="navbar-brand mb-0 h1">Administracion Libreria</span>
            </div>
        </nav>
    </div>
    <br>

    <!-- class="container d-flex align-items-center justify-content-center" -->
    <div class="container">

        <div class="list-group list_border register ">

            <a href="#" class="list-group-item list-group-item-action active title_list " aria-current="true">
                Registros de Prestamos
            </a>
            <a href="#" class="list-group-item list-group-item-action">Prestamo Libro</a>
            <a href="#" class="list-group-item list-group-item-action">Devolucion Libro</a>

        </div>

        <br>
        <div class="list-group list_border ">
            <a href="#" class="list-group-item list-group-item-action active title_list" aria-current="true">
                Listar..
            </a>
            <a href="#" class="list-group-item list-group-item-action">Listar Libros</a>
            <a href="#" class="list-group-item list-group-item-action">Listar Autores</a>
            <a href="#" class="list-group-item list-group-item-action">Listar Editoriales</a>
        </div>

        <br>
        <div class="list-group list_border">

            <a href="#" class="list-group-item list-group-item-action active title_list" aria-current="true">
                Agregar..
            </a>
            <a th:href="@{/agregarLibro}" class="list-group-item list-group-item-action">Agregar Libro</a>
            <a th:href="@{/agregarAutor}" class="list-group-item list-group-item-action">Agregar Autor</a>
            <a th:href="@{/agregarEditorial}" class="list-group-item list-group-item-action">Agregar Editorial</a>
            <!-- <a href="añadirLAE/agregarLibro.html" class="list-group-item list-group-item-action">Agregar Libro</a>
            <a href="añadirLAE/agregarAutor.html" class="list-group-item list-group-item-action">Agregar Autor</a>
            <a href="añadirLAE/agregarEditoral.html" class="list-group-item list-group-item-action">Agregar Editorial</a> -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>